body{
	margin:0;
	cursor:crosshair;
	font-family:Helvetica Neue;
}

svg{
	position:absolute;
}

.stage{
	background-color:#cbfffb;
}

.interface .selection-line{
	stroke-width:2px;
	stroke:red;
}

.final_stage{
	fill:none;
	stroke-width:15;
	stroke:#ff6b20;
}

.interface circle{
	fill:black;
}
	
svg *{
	fill:black;
}

.cheatsheet{
	position:fixed;
	padding:10px;
}