body{
	margin:0;
	cursor:crosshair;
	font-family:Helvetica Neue;
}

svg{
	position:absolute;
}

body{
	background-color:#cbfffb;
}

.gui .selection-line{
	stroke-width:2px;
	stroke:red;
}

.final_stage{
	fill:none;
	stroke-width:15;
	stroke:#ff6b20;
}

.gui circle.group{
	fill:black;
}

.gui circle.object{
	fill:red;
}

svg *{
	fill:black;
}

.cheatsheet{
	position:fixed;
	padding:10px;
}